<h3 class="mb-3">ngx-via-cep</h3>
<form
  [formGroup]="viaCepForm"
  [ngClass]="{ 'was-validated': viaCepForm.dirty && viaCepForm.valid }"
  (ngSubmit)="fetchByCEP(viaCepForm)"
  class="needs-validation"
  novalidate
>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="cep">CEP</label>
    </div>

    <input
      id="cep"
      name="cep"
      type="tel"
      formControlName="cep"
      placeholder="00000-000"
      class="form-control"
      [ngClass]="{
        'is-valid': cep.dirty && cep.valid,
        'is-invalid': cep.dirty && cep.invalid
      }"
    />

    <div class="input-group-append">
      <input type="submit" value="Buscar" class="btn btn-outline-primary" />
    </div>
  </div>
</form>

<form
  [formGroup]="viaAddressForm"
  [ngClass]="{ 'was-validated': viaAddressForm.dirty && viaAddressForm.valid }"
  (ngSubmit)="fetchByAddress(viaAddressForm)"
  class="needs-validation"
  novalidate
>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="address">Endereço</label>
    </div>

    <input
      id="address"
      name="address"
      type="tel"
      formControlName="address"
      placeholder="Avenida Inconfidência Mineira"
      class="form-control"
      [ngClass]="{
        'is-valid': address.dirty && address.valid,
        'is-invalid': address.dirty && address.invalid
      }"
      (keyup)="fetchByAddress(viaAddressForm)"
    />

    <div class="input-group-append">
      <input type="submit" value="Buscar" class="btn btn-outline-primary" />
    </div>
  </div>
</form>
<pre>
  <h5>Result: </h5>
  <code>
{{result}}
  </code>
</pre>
