<h3 class="mb-3">capture-phonenumber</h3>

<form [formGroup]="form" (ngSubmit)="fetchUserByPhone(form)">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="phoneNumber">Telefone</label>
    </div>

    <input
      type="tel"
      id="phoneNumber"
      formControlName="phoneNumber"
      class="form-control"
      required
      [ngClass]="{
        'is-valid': phoneNumber.dirty && phoneNumber.valid,
        'is-invalid': phoneNumber.dirty && phoneNumber.invalid
      }"
    />

    <div class="input-group-append">
      <input
        type="submit"
        class="btn btn-outline-primary"
        formControlName="submit"
      />
    </div>
  </div>
</form>
