<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button
      class="navbar-toggler d-md-none d-flex"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      [attr.aria-expanded]="menu.open"
      aria-label="Toggle navigation"
      (click)="handleOnClick()"
    >
      <span class="navbar-toggler-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 30 30"
          width="30"
          height="30"
          focusable="false"
        >
          <title>Menu</title>
          <path
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-miterlimit="10"
            d="M4 7h22M4 15h22M4 23h22"
          ></path>
        </svg>
      </span>
    </button>
  </nav>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
<footer></footer>
